
.img{
    width: 100px;
}

.cardContainer{
    display: flex;
     align-items: center;
     justify-content: space-between;
}

.cardTitle{
    text-align: center;
    margin-top: 10px;
}

.cardText{
    margin-top: 0;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}