.img {
    width: 50px;
    object-fit: cover;
}

.card {
    margin-top: 10px;
}

.cardContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f1f3;
    height: 60px;
    border-radius: 9px;
}

.cardTitle {
    text-align: center;
    margin-top: 10px;

}

.cardText {
    margin-top: 0;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.cartdGuestContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}