.countContainer {
    display: flex;
    gap: 10px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.count {
    text-align: center;
    margin-top: 16px;
}

.countBtn {
    background-color: #212529;
    color: white;
}

.countBtnDecrement {
    background-color: #212529;
    color: white;
    width: 34px;
}

.countBtn:hover {
    background-color: #21252990;
    border-color: #1c1f23;
}