
.countContainer{
    display: flex;
    gap: 10px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.count{
    text-align: center;
    margin-top: 16px;
}