.btn {
    background-color: #212529;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
    border-color: #1c1f23;
}

.btn:hover {
    background-color: #21252990 !important;
    border-color: #1c1f23;
    text-decoration: none !important;

}