.formContainer {
    background-color: blue;
    padding: 7px;
    border: 1px;
    border-radius: 7px;
}

.formColorTitleP {
    color: white;
}

.formHr {
    height: 0.5;
    background-color: #fff;
    border: none;
    opacity: 1;
    margin-top: 10px;
}

.formSubTotal {
    color: white;
    text-align: right;
    font-size: 14px;
}

.formEnvio {
    opacity: 0.7;
}

.formBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    width: 100%;
    margin-top: 16px;
}

.formBtnSpan {
    display: flex;
    align-items: center;
    gap: 6px;
}

.CheckOutCardByIdTitle {
    text-align: center;
    margin-top: 14px;
}

.CheckOutCardByIdDivContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.CheckOutCardByIdDivContainerDetail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.CheckOutCardByIdContainer {
    width: 24rem;
    background-color: #212529;
    color: white;
    align-items: center;
    margin-top: 40px;
}

.CheckOutCardByIdLinkContainer {
    display: flex;
    gap: 10px;
    margin-top: 14px;
    text-decoration: none;
}

.CheckOutCardByIdLink {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.ordersGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}


/* OrderCard */
.orderCard {
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: center;
    margin-top: 6px;
}
.orderCardText{
    margin: 10px;
}
.orderCardImg {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

@media screen and (max-width: 430px) {
    .CheckOutCardByIdContainer {
        width: 18rem;

    }
}