.itemContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgb(221, 221, 221);

}

.imgContainer {
    height: 150px;
    object-fit: cover;

}

.title {
    height: 45px;
    overflow: hidden;
    margin: 0;
}


.description {
    height: 45px;
    overflow: hidden;
    margin: 0;
    color: #818282;
}

.cardContainer {
    width: 18rem;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.cardPrice {
    /* color: #00A650; */
    /*    background-color: #00A6501A; */
    font-weight: 400;
    font-size: 18px;
    padding: 4px 8px;
    border-radius: 6px;
    display: inline-block;
}