.itemContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px;
    gap: 10px;

}

.imgContainer {
    height: 150px;
    object-fit: cover;

}

.description {
    height: 45px;
    overflow: hidden;
}