/* style={{ backgroundColor: 'rgb(221, 221, 221)' }} */
.backGroundColor {
    background-color: rgb(221, 221, 221);
}

/* tyle={{ width: '80%', margin: '0 auto', border: '1px solid #dee2e6', borderRadius: '8px' }} */
.divContainer {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #dee2e6;
    border-radius: 8px;
}


/*        style={{
                        height: "calc(95vh - 120px)", // define “la pantalla”
                        display: "flex",
                        flexDirection: "column",
                        margin: "0 auto",
                        maxWidth: "1200px"
                    }}
 */

.definoPantalla {
    min-height: calc(95vh - 120px);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
}

.scroll {
    max-height: calc(95vh - 200px);
    overflow-y: auto;
}

/* 
                        style={{
                            flex: 1,
                            overflowY: "auto",
                            border: "1px solid #dee2e6",
                            borderRadius: "8px",

                        }} */
.scroll {
    flex: 1;
    overflow-y: auto;
    border: 1px solid #dee2e6;
    border-radius: 8px;
}

.alertCenter {
    text-align: center;
}